extends ./shared/_master
block append styles
  link(rel='stylesheet', href='/css/user-profile.css')
  script(src='/js/user-profile.js')
block append page-content
  .row
    .col-md-4
      .well
        .photo-container
          img(src='http://s3.amazonaws.com/37assets/svn/765-default-avatar.png')
          hr
          if isOwner
            button.btn.btn-primary#update-picture-btn
              | Update profile pic
    .col-md-8
      .well
        h2
          | #{pageUser.firstName} #{pageUser.lastName}
        p.text-muted
          | @#{pageUser.username}
        ul.list-group
          li.list-group-item
            strong
              | Date joined: 
            | Currently unknown
          li.list-group-item
            strong
              | Birth date: 
            | Currently unknown
          li.list-group-item
            strong
              | High school: 
            | Currently unknown
  .row
    .col-md-12
      .well
        if isOwner
          h2
            | Post something
          hr
          form(action='/user/' + pageUser.username + '/posts', method='POST')
            textarea#postInput.form-control(name='postInput', placeholder='Type in your message', rows='5')
            h6#charCount.pull-right
            button#post-btn.btn.btn-primary(type='submit')
              | Publish
          hr
        h2
          | Posts
        hr
        if pageUser.posts.length > 0
          ul.list-group.posts-container
            each post in pageUser.posts
              li.list-group-item.post
                h4
                  strong
                    | @#{pageUser.username} 
                  | posted a status
                h3.content-container
                  | #{post.content}
                div.interactions-container
                  div.like-container
                    div.btn
                      i.fa.fa-thumbs-o-up.fa-2x(aria-hidden='true')
                      |  Like
                  div.comment-container
                    div.btn
                      i.fa.fa-comment-o.fa-2x(aria-hidden='true')
                      |  Comment