extends ../shared/_master

block append page-content
    div.row
        ul.dropdown-content#categories-dropdown            
            li
                a(href='/articles')
                    | All
            each cat in categories
                li
                    a(href='/articles/categories/' + cat.name)
                        | #{cat.name}
            else
                li
                    a(href='/articles')
                        | No categories found

    div.row
        a.waves-effect.waves-light.btn.left(href="/articles/add")
            | Add new article
            i.material-icons.right
                | add
        a.btn.dropdown-button.right(data-activates="categories-dropdown")
            | Categories
            i.material-icons.right
                | arrow_drop_down

    nav
        div.nav-wrapper
            form
                div.input-field
                    input#search-article(type="search" name="query")
                    label.label-icon(for="search-article")
                        i.material-icons
                            | search
                    i.material-icons
                        | close

    each article in articles
        ul.collection
            li.collection-item.avatar
                img.circle(src="https://ih1.redbubble.net/image.92221274.3543/st%2Csmall%2C215x235-pad%2C210x230%2Cf8f8f8.lite-1.jpg")
                a.title(href="#")
                    | #{article.title}
                p 
                    | Published by: #{article.author.username}
                p 
                    | #{article.description}
                p
                    | Category : #{article.category}
                a.secondary-content(href="/articles/" + article._id)
                    i.material-icons
                        | open_in_new
    else
        h1
            | No articles found.