extends ../shared/_master
block append styles
    link(rel='stylesheet', href='/css/event/style.css')
    script(src='/js/event/event-details.js')
block append footer
block append page-content
    if event.location.longitude.length > 0 && event.location.latitude.length > 0
    .row.hidden
        #event-lat
            =event.location.latitude
        #event-long
            =event.location.longitude
    .row
        .col.s12.m12.l12
            img.header-image(src=event.headerImage)
            img.header-image(src=event.location.mapUrl)
            .container.center.event-info-container
                h1
                    | #{event.title}
                p
                    | Published by: 
                    a(href="/users/" + event.creator)
                        | #{event.creator}
                hr
            if event.location.address.length > 0
                p
                    | Location: #{event.location.address}
                p#distance-from-user
                    | Distance from you:
            else
                p
                    | Location: Not specified
            p.center
                | Summary: #{event.description}
            hr
        
            if currentUser
                if event.creator !== currentUser.username && !event.participants.includes(currentUser.username)
                    div#join-event-btn.btn
                        | Join event
                else if !event.chatTitle && event.creator === currentUser.username
                    div#create-chat-btn.btn
                        | Create event chat
                    div#chatTitleContainer.col.s6
                        input#chatTitle(type='text')
                        label(for='chatTitle')
                            | Chat title
    if currentUser
        div.row
            .col.s3.s2
                p
                    i.material-icons.right
                        | person_pin
                    | Participants: #{event.participants.length}
        div.row
            div.row
                div.input-field.col.s6
                    input#comment-content(type="text" name="text")
                    label(for="comment-content")
                        | Add comment
                .col.s4.m2
                    button#send-comment-btn.btn.waves-effect.waves-light(type="submit")
                        | Send
                        i.material-icons.right
                            | send
    p
        | Comment section: 
    ul#comments-list.collection
        each comment in event.comments
            li.collection-item.avatar
                img.circle(src=comment.author.profilePic)
                a.title(href="/users/" + comment.author.username)
                    | #{comment.author}
                p
                    | #{comment.content}

        else
            h5
                | There are currently no comments on this article