extends ../shared/_master
block append styles
    link(rel='stylesheet', href='/css/event/event-details.css')
    //- script(src='/js/event/event-details.js')
block append page-content
    if event.location.longitude.length > 0 && event.location.latitude.length > 0
    .row.hidden
        #event-lat
            =event.location.latitude
        #event-long
            =event.location.longitude
    //- Header image
    .filter
        img.header-image(src='/images/event/default-header-2.jpg')
    //- img.header-image(src=event.location.mapUrl)
    .title-container.center
        h1
            | #{event.title}
        h4
            | organized by  
        h4
            a.white-text(href="/users/" + event.creator)
                | #{event.creator}
        p.btn.going-btn
            i.material-icons.left
                | person_pin
            | #{event.participants.length} going!
        p
            if currentUser && event.creator !== currentUser.username && !event.participants.includes(currentUser.username)
                div#join-event-btn.btn-large
                    | Join event

    //- Page content
    .row.page-info.center.z-depth-3
        .col.s12.m12.center-align.content-container
            .row.center-align
                .col.s12.m12.col.moffset-2
                    h4.mini-title.flow-text
                        | Event description
                    h5.description
                        | #{event.description}
            //- if event.location.address.length > 0
            //-     p
            //-         | Location: #{event.location.address}
            //-     p#distance-from-user
            //-         | Distance from you:
            //- else
            //-     p
            //-         | Location: Not specified
            hr.content-divider
            if currentUser && !event.chatTitle && event.creator === currentUser.username
                .center-align
                    .col.s12.m12.col.moffset-2
                        h4.mini-title
                            | Admin Panel
                .row.center-align
                    .col.s12.m12.col.moffset-2
                        div#chatTitleContainer.col.s6.m6
                            input#chatTitle(type='text', placeholder='Chat title')
                        div#create-chat-btn.btn.col.s4.m4
                            | Create event chat
                hr.content-divider
            .row.center-align
                .col.s12.m12.col.moffset-2
                    h4.mini-title
                        | Comment section
                    if currentUser
                        div.row
                            div.input-field.col.s6
                                input#comment-content(type="text" name="text")
                                label(for="comment-content")
                                    | Add comment
                            .col.s4.m2
                                div#send-comment-btn.btn.waves-effect.waves-light(type="submit")
                                    | Send
                                    i.material-icons.left
                                        | send
                    ul#comments-list.collection
                        each comment in event.comments
                            li.collection-item.avatar
                                img.circle(src=comment.author.profilePic)
                                a.title(href="/users/" + comment.author.username)
                                    | #{comment.author}
                                p
                                    | #{comment.content}

                        else
                            h5
                                | There are currently no comments on this event