extends ../shared/_master
block append styles
    link(rel='stylesheet', href='/css/event/create-page.css')
    link(rel='stylesheet', href='/css/event/event-edit.css')
block append footer
    script(src='/js/event/event-edit.js')
block append page-content
    .row.center-align
        .col.s12.m8.offset-m2.z-depth-4.card-panel
            .row
                .col.s12.m6.offset-m3
                    h3
                        | #{event.title}
            .row
                .col.s12.m6.offset-m3
                    p
                        | Created by: 
                        a(href='/users/' + event.creator)
                            | #{event.creator}
            
            form(action='/events/' + event._id + '/edit' method='POST')
                .row
                    .col.s12.m12.l12.blue-grey.darken-4
                        img.header-image(src=event.headerImage)
                .row
                    .col.s12.m6.offset-m3
                        select#header-image(name='headerImage')
                            each headerImg in headerImages
                                option(value=headerImg.image)
                                    | #{headerImg.name}
                .row
                    .col.s12.m6.offset-m3
                        label(for='title')
                            | Edit title
                        .input-field.col.s12             
                            input#title(value=event.title name='title')
                .row
                    .col.s12.m6.offset-m3
                        label(for='description')
                            | Edit description
                        .input-field.col.s12             
                            textarea#description.materialize-textarea(name='description')
                                =event.description 

                .row
                    .col.s12.m6.offset-m3
                        #update-event-btn.btn.right
                            | Save changes
                        a.btn.left(href='/events')
                            | Cancel