extends ../shared/_master
include ../mixins/pagination.pug

block append styles
    link(rel='stylesheet', href='/css/event/style.css')
block append page-content
    .row
        .col.s12.m10.offset-m1
            a.create-event-btn.waves-effect.waves-light.btn(href='/events/create')
                | Create event
                i.material-icons.right
                    | add
    if events.length > 0
        .row
            .col.s12.m10.offset-m1
                nav
                    div.nav-wrapper
                        form
                            div.input-field
                                input#search-article.white(type='search' name='query', placeholder='Type to search for events...')
                                label.label-icon(for='search-article')
                                    i.material-icons
                                        | search
                                i.material-icons
                                    | close

        .row
            .col.s12.m10.offset-m1
                //- for cycle and insert new row when reached 12cols
                - var eventsCount = events.length
                - var index = 0
                while index < eventsCount
                    if index % 3 == 0
                        .row
                            .col.s12.m4
                                .card.z-depth-3
                                    .card-image
                                        img(src=events[index].headerImage)
                                        a.card-title(href='/events/' + events[index]._id)
                                            | #{events[index].title}
                                        if locals.user && events[index].creator == locals.user.username
                                            a(href='/events/'+ events[index]._id + '/edit').btn-floating.halfway-fab.waves-effect.waves-light.red
                                                i.material-icons edit
                                    .card-content
                                        p
                                            | Publisher: #{events[index].creator}
                                        p
                                            | #{events[index].description}
                    else
                        .col.s12.m4
                            .card.z-depth-3
                                .card-image
                                    img(src=events[index].headerImage)
                                    a.card-title(href='/events/' + events[index]._id)
                                        | #{events[index].title}
                                    if locals.user && events[index].creator == locals.user.username
                                        a(href='/events/'+ events[index]._id + '/edit').btn-floating.halfway-fab.waves-effect.waves-light.red
                                            i.material-icons edit
                                .card-content
                                    p
                                        | Publisher: #{events[index].creator}
                                    p
                                        | #{events[index].description}
                    - index++
                //- else
                //-     h4.center
                //-         | No events found.
        .row
            //- Add search query as 1st parameter if one exists
            +pagination(query, pageNumber, pagesCount, "events")
    else
        h4.center
            | No events avaliable 
        h5.center.blue-grey-text.lighten-5
            | Click the 'Create event' button to create one!
